.card{
    height: 200px;
    max-height:200px ;
    min-height: 200px;
    background-color: #7fffd4 !important;
    border-radius: 20px;
    overflow-y: scroll;
}

.card img{
    width: fit-content;
}